* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(193, 193, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
    font-size: 1.5em;
}

main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blocks {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.blocks div {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px black solid;
}

.form {
    display: flex;
    gap: 20px;
}

.form * {
    padding: 8px;
}